[Desktop Entry]
Name=Gealach
Comment=Display moon phases for your location.
Comment[ga]=céimeanna ghealach taispeáint ar do shuíomh.
Comment[de]=Zeigen Sie Mondphasen für Ihren Standort an.
Comment[fr]=Affichez les phases de lune pour votre emplacement.
Comment[en]=Display moon phases for your location.
Comment[it]=Visualizzazione le fasi lunari per la vostra posizione.
Comment[es]=Muestra las fases lunares de tu ubicación.

Icon=preferences-system-time
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-DefaultSize=100,100

X-KDE-PluginInfo-Author=koffeinfriedhof
X-KDE-PluginInfo-Email=koffeinfriedhof@gmail.com
X-KDE-PluginInfo-Name=org.koffeinfriedhof.gealach
X-KDE-PluginInfo-Version=0.1.6
X-KDE-PluginInfo-Website=http://userbase.kde.org/Plasma
X-KDE-PluginInfo-Category=Astronomy
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
